.top {
    background-color: #f9f9f9;
    height: calc(100vh - #{$header-height});
    position: relative;
    &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(100vh - #{$header-height}) calc-vw(1066);
        border-color: transparent transparent $primary-color transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__inner {
        padding: 101px 0;
        display: grid;
        grid-template-areas:
            "title slide"
            "catch slide"
            "copy slide"
            "scroll slide";
        align-items: start;
        justify-content: space-between;
    }
    &__title {
        color: #fff;
        font-size: 46px;
        line-height: calc(66 / 46);
        background-color: $primary-color;
        width: fit-content;
        padding: 16px 44px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
        margin-bottom: calc(32px + 0.2em);
        grid-area: title;
    }
    &__catch {
        font-size: 40px;
        line-height: calc(58 / 40);
        margin-bottom: 25px;
        grid-area: catch;
    }
    .dot {
        padding-top: 0.2em;
        background-position: top left -2px;
        background-repeat: repeat-x;
        background-size: 1.02em 0.2em;
        background-image: radial-gradient(
            0.1em 0.1em at center center,
            $primary-color,
            $primary-color 100%,
            transparent
        );
    }
    &__copy {
        font-size: 18px;
        margin-bottom: 33px;
        grid-area: copy;
    }
    &__scroll {
        background-color: $primary-color;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        grid-area: scroll;
        @include flex-center;
        &::after {
            content: "";
            width: 10px;
            height: 10px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
        }
    }
    &__slide {
        width: 395px;
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.19);
        margin-right: 27px;
        grid-area: slide;
        @include aspect-ratio-parent {
            padding-top: 88.8%;
        }
        .swiper-wrapper {
            @include aspect-ratio-child;
        }
        .swiper-slide * {
            width: 100% !important;
            height: 100% !important;
        }
    }
}
// /.top

.wish {
    padding: 61px 0 132px;
    &__title {
        margin-bottom: 100px;
    }
    &__card-ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat (2, auto);
        justify-content: space-between;
        row-gap: 37px;
    }
    &__card {
        font-size: 18px;
        width: 375px;
        height: 177px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
        position: relative;
        @include flex-center;
        &::before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 47px 49px 0 0;
            border-color: $primary-color transparent transparent transparent;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
// /.wish

.reasons {
    &__inner {
        padding: 63px 128px 69px 115px;
    }
    &__title {
        margin-bottom: 95px;
    }
    &__card-area {
        margin-bottom: 107px;
    }
    &__card-ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat (2, auto);
        justify-content: space-between;
        row-gap: 59px;
    }
    &__card {
        text-align: center;
        width: 439px;
    }
    &__card-icon {
        background-color: #fff;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        filter: drop-shadow(0px 3px 19px rgba(0, 0, 0, 0.18));
        margin: 0 auto 30px;
        @include flex-center;
        img {
            width: 130px;
        }
    }
    &__card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    &__card-body {
        line-height: calc(32 / 16);
    }
    &__enquiry {
        color: $letter-color;
    }
}
// /.reasons

.service {
    padding: 68px 0 127px;
    &__title {
        margin-bottom: 107px;
    }
    &__inner {
        background: linear-gradient(
            90deg,
            #fff 0%,
            #fff calc-percent(385, 1440),
            #f9f9f9 calc-percent(385, 1440),
            #f9f9f9 100%
        );
        width: calc(1200px + #{outside-inner-width(pc)});
        padding: 57px outside-inner-width(pc) 187px 29px;
        margin: 0 0 0 outside-inner-width(pc);
    }
    &__category {
        font-weight: bold;
        letter-spacing: 0.07em;
        padding-right: 120px;
        &:not(:last-of-type) {
            margin-bottom: 107px;
        }
    }
    &__category-name {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        line-height: calc(44 / 30);
        background-color: $primary-color;
        width: 389px;
        padding: 18px 0;
        margin-bottom: 22px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        @include flex-center;
    }
    &__item {
        padding: 0 27px 0 15px;
        border-bottom: 1px solid #808080;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            transition: 0.3s;
            .service__name {
                color: #fff;
                &::before,
                &::after {
                    background-color: #fff;
                }
            }
        }
        &.active {
            &:hover {
                background-color: #fff;
                .service__name {
                    color: $primary-color;
                    &::before,
                    &::after {
                        background-color: #000;
                        transition: 0.3s;
                    }
                    &::before {
                        transform: rotate(180deg);
                    }
                    &::after {
                        transform: rotate(540deg);
                    }
                }
            }
            .service__detail {
                display: block;
            }
        }
    }
    &__name {
        font-size: 24px;
        line-height: calc(35 / 24);
        color: $primary-color;
        padding: 2.12em 0;
        position: relative;
        &::before,
        &::after {
            content: "";
            width: 60px;
            height: 2px;
            background-color: #000;
            transition: 0.3s;
            position: absolute;
            top: 50%;
            right: 0;
        }
        &::before {
            transform: translateY(-50%);
        }
        &::after {
            transform: translateY(-50%) rotate(90deg);
        }
    }
    &__detail {
        padding-bottom: 60px;
        display: none;
    }
    &__to-plans {
        margin-top: -97px;
    }
}
// /.service

.home-works {
    background-color: #f9f9f9;
    padding: 57px 0 91px;
    &__title {
        margin-bottom: 136px;
    }
    &__slide {
        margin-bottom: 44px;
    }
    .swiper-wrapper {
        display: flex;
        padding-bottom: calc(39px + 72px);
        // ↑ calc(.home-works__item との margin + .swiper__button の height)
    }
    &__item {
        background-color: #fff;
        width: 540px !important;
        padding: 35px 35px 51px 24px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }
    &__thumbnail {
        width: 100%;
        height: 260px;
        box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.16);
        margin-bottom: 41px;
        @include flex-center;
        object-fit: cover;
        > * {
            width: 100%;
            height: 100%;
        }
    }
    &__category {
        font-size: 14px;
        color: #fff;
        line-height: calc(20 / 14);
        background-color: $primary-color;
        padding: 7px 13px;
        margin: 0 14px 32px 0;
        display: inline-block;
    }
    &__item-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    &__data-item {
        font-weight: bold;
        letter-spacing: 0.07em;
        display: grid;
        grid-template-columns: 104px auto;
        justify-content: start;
        &:not(:last-of-type) {
            margin-bottom: 14px;
        }
    }
    &__data-item-body {
        text-align-last: left;
        margin-left: calc(30px + 17px);
        position: relative;
        &:after {
            content: "";
            width: 17px;
            height: 1px;
            background-color: #707070;
            position: absolute;
            top: 50%;
            left: calc(-30px - 17px);
            transform: translateY(-50%);
        }
    }
    .swiper-pagination {
        width: 933px;
        margin-left: outside-inner-width(pc);
        bottom: 26px !important;
        &-bullet {
            height: 2px;
            border-radius: 0;
            margin: 0 !important;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: #fff;
        background-color: $primary-color;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        top: unset;
        bottom: 0;
        &::after {
            font-size: 22px;
        }
    }
    $swiper-button-next-right: calc(#{outside-inner-width(pc)} + 29px);
    .swiper-button-next {
        right: $swiper-button-next-right;
    }
    .swiper-button-prev {
        left: unset;
        right: calc(#{$swiper-button-next-right} + 72px + 30px);
    }
}
// /.home-works

.flow {
    // ローカル変数
    $name-width: 426px;

    padding: 105px 0 137px 0;
    &__title {
        margin-bottom: 129px;
    }
    &__item {
        color: $letter-color;
        background-color: #fff;
        width: 1000px;
        height: 186px;
        padding: 30px 34px;
        margin: 0 auto;
        display: flex;
        position: relative;
        &:not(:last-of-type) {
            margin-bottom: 127px;
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 41px 23.5px 0 23.5px;
                border-color: #ffffff transparent transparent transparent;
                position: absolute;
                bottom: -84px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__name {
        font-size: 30px;
        font-weight: bold;
        width: $name-width;
        border-right: 2px solid $primary-color;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__name-number {
        width: 84px;
        height: 84px;
        background: #f3f3f3;
        border-radius: 50%;
        margin-right: 28px;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
        @include flex-center;
    }
    &__detail-area {
        width: calc(100% - #{$name-width});
        padding-left: 58px;
        display: flex;
        align-items: center;
    }
    &__detail {
        width: 100%;
        padding-left: 2em;
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 10px;
        align-items: center;
    }
    &__detail-item {
        font-size: 20px;
        line-height: 1.2;
        list-style: decimal;
        width: 100%;
        padding-left: 0.5em;
        align-self: start;
    }
}
