li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  line-height: calc(30 / 16);
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
}

.section-blue {
  color: #fff;
  background-color: #234cb5;
}

.section-blue .section-title::before, .section-blue .section-title::after {
  background-color: #fff;
}

.section-blue .button:hover {
  border: 1px solid #fff;
}

.section-title {
  font-size: 34px;
  font-weight: bold;
  line-height: calc(49 / 34);
  text-align: center;
  position: relative;
}

.section-title::before, .section-title::after {
  content: "";
  background-color: #234cb5;
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-title::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -27px;
}

.section-title::after {
  width: 1px;
  height: 35px;
  bottom: -59px;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1260px) {
  .inner {
    width: 90%;
  }
}

@media screen and (max-width: 598px) {
  .inner {
    width: calc(100vw - 40px);
  }
}

.button {
  font-size: 20px;
  text-align: center;
  line-height: calc(31 / 20);
  background-color: #fff;
  width: 900px;
  padding: 47px 0;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.03);
  margin: 0 auto;
  display: block;
  position: relative;
}

.button::before, .button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 51px;
}

.button::before {
  width: 65px;
  height: 2px;
  background-color: #234cb5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button::after {
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #234cb5;
  border-right: 2px solid #234cb5;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.button:hover {
  color: #fff;
  background-color: #234cb5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover::before {
  background-color: #fff;
}

.button:hover::after {
  border-color: #fff;
}

.is-shown-tab {
  display: none;
}

@media screen and (max-width: 1260px) {
  .is-shown-tab {
    display: block !important;
  }
}

.is-shown-tab-only {
  display: none;
}

@media screen and (max-width: 1260px) {
  .is-shown-tab-only {
    display: block !important;
  }
}

@media screen and (max-width: 598px) {
  .is-shown-tab-only {
    display: none !important;
  }
}

.is-shown-sp {
  display: none;
}

@media screen and (max-width: 598px) {
  .is-shown-sp {
    display: block !important;
  }
}

@media screen and (max-width: 1260px) {
  .is-hidden-tab {
    display: none !important;
  }
}

@media screen and (max-width: 598px) {
  .is-hidden-sp {
    display: none !important;
  }
}

.header {
  font-size: 18px;
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  background-color: #e8e8e8;
  width: 120px;
  height: 100%;
  cursor: pointer;
}

.header__logo > a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.header__nav {
  height: 100%;
}

.header__nav-ul {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.header__nav-item > a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item--enquiry {
  color: #fff;
  background-color: #234cb5;
  width: 204px;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item--enquiry:hover {
  background-color: #052882;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fixed-link {
  position: fixed;
  top: 50.14286%;
  right: 1.73611%;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  -ms-grid-columns: auto;
      grid-template: repeat(2, auto)/auto;
  row-gap: 8px;
  z-index: 5;
}

.fixed-link__item {
  width: 41px;
  height: 41px;
}

.fixed-link__item * {
  width: 100%;
  height: 100%;
}

.burger__switch {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

.burger__btn {
  width: 36px;
  height: 36px;
  margin-right: 15px;
  display: none;
  position: relative;
  cursor: pointer;
  z-index: 111;
}

@media screen and (max-width: 1260px) {
  .burger__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 598px) {
  .burger__btn {
    width: 25px;
    height: 24px;
    margin-right: 0;
  }
}

.burger__line, .burger__line::after, .burger__line::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2e200e;
  position: absolute;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 115;
}

.burger__line::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

@media screen and (max-width: 598px) {
  .burger__line::before {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
}

.burger__line::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

@media screen and (max-width: 598px) {
  .burger__line::after {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
}

.burger__background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 100;
}

#burger__switch:checked ~ .header__iconContainer #burger__btn #burger__line {
  visibility: hidden;
}

#burger__switch:checked ~ .header__iconContainer #burger__btn #burger__line::before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  visibility: visible;
}

#burger__switch:checked ~ .header__iconContainer #burger__btn #burger__line::after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  visibility: visible;
}

#burger__switch:checked ~ #burger__background {
  display: block;
}

#burger__switch:checked ~ .burger__nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.footer {
  color: #fff;
  background-color: #0c1b67;
}

.footer__enquiry {
  background: no-repeat center/cover;
  padding: 47px 0 53px;
  margin-bottom: 32px;
  position: relative;
}

.footer__enquiry::before {
  content: "";
  background-color: rgba(121, 115, 204, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.footer__title, .footer__copy, .footer__button {
  text-align: center;
  letter-spacing: 0.07em;
  position: relative;
  z-index: 1;
}

.footer__title {
  font-size: 53px;
  font-weight: bold;
  margin-bottom: 18px;
}

.footer__copy {
  margin-bottom: 27px;
}

.footer__button {
  color: #333333;
  font-size: 20px;
  width: 1050px;
  padding: 59px 0;
}

.footer__button::before, .footer__button::after {
  right: 62px;
}

.footer__nav {
  margin-bottom: 45px;
}

.footer__navUl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.footer__navItem {
  font-weight: bold;
}

.footer__copyright {
  text-align: center;
  padding-bottom: 21px;
}

.top {
  background-color: #f9f9f9;
  height: calc(100vh - 120px);
  position: relative;
}

.top::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 calc(100vh - 120px) 74.02778vw;
  border-color: transparent transparent #234cb5 transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.top__inner {
  padding: 101px 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title slide" "catch slide" "copy slide" "scroll slide";
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__title {
  color: #fff;
  font-size: 46px;
  line-height: calc(66 / 46);
  background-color: #234cb5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 44px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  margin-bottom: calc(32px + 0.2em);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.top__catch {
  font-size: 40px;
  line-height: calc(58 / 40);
  margin-bottom: 25px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: catch;
}

.top .dot {
  padding-top: 0.2em;
  background-position: top left -2px;
  background-repeat: repeat-x;
  background-size: 1.02em 0.2em;
  background-image: radial-gradient(0.1em 0.1em at center center, #234cb5, #234cb5 100%, transparent);
}

.top__copy {
  font-size: 18px;
  margin-bottom: 33px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: copy;
}

.top__scroll {
  background-color: #234cb5;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__scroll::after {
  content: "";
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.top__slide {
  width: 395px;
  -webkit-box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.19);
  margin-right: 27px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: slide;
  position: relative;
  padding-top: 88.8%;
}

.top__slide .swiper-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.top__slide .swiper-slide * {
  width: 100% !important;
  height: 100% !important;
}

.wish {
  padding: 61px 0 132px;
}

.wish__title {
  margin-bottom: 100px;
}

.wish__card-ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: repeat 2, auto;
      grid-template-rows: repeat 2, auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 37px;
}

.wish__card {
  font-size: 18px;
  width: 375px;
  height: 177px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wish__card::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 47px 49px 0 0;
  border-color: #234cb5 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.reasons__inner {
  padding: 63px 128px 69px 115px;
}

.reasons__title {
  margin-bottom: 95px;
}

.reasons__card-area {
  margin-bottom: 107px;
}

.reasons__card-ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: repeat 2, auto;
      grid-template-rows: repeat 2, auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 59px;
}

.reasons__card {
  text-align: center;
  width: 439px;
}

.reasons__card-icon {
  background-color: #fff;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 3px 19px rgba(0, 0, 0, 0.18));
          filter: drop-shadow(0px 3px 19px rgba(0, 0, 0, 0.18));
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reasons__card-icon img {
  width: 130px;
}

.reasons__card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.reasons__card-body {
  line-height: calc(32 / 16);
}

.reasons__enquiry {
  color: #333333;
}

.service {
  padding: 68px 0 127px;
}

.service__title {
  margin-bottom: 107px;
}

.service__inner {
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(26.73611%, #fff), color-stop(26.73611%, #f9f9f9), to(#f9f9f9));
  background: linear-gradient(90deg, #fff 0%, #fff 26.73611%, #f9f9f9 26.73611%, #f9f9f9 100%);
  width: calc(1200px + calc((100vw - 1200px) / 2));
  padding: 57px calc((100vw - 1200px) / 2) 187px 29px;
  margin: 0 0 0 calc((100vw - 1200px) / 2);
}

.service__category {
  font-weight: bold;
  letter-spacing: 0.07em;
  padding-right: 120px;
}

.service__category:not(:last-of-type) {
  margin-bottom: 107px;
}

.service__category-name {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  line-height: calc(44 / 30);
  background-color: #234cb5;
  width: 389px;
  padding: 18px 0;
  margin-bottom: 22px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__item {
  padding: 0 27px 0 15px;
  border-bottom: 1px solid #808080;
  cursor: pointer;
}

.service__item:hover {
  background-color: #234cb5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__item:hover .service__name {
  color: #fff;
}

.service__item:hover .service__name::before, .service__item:hover .service__name::after {
  background-color: #fff;
}

.service__item.active:hover {
  background-color: #fff;
}

.service__item.active:hover .service__name {
  color: #234cb5;
}

.service__item.active:hover .service__name::before, .service__item.active:hover .service__name::after {
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service__item.active:hover .service__name::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.service__item.active:hover .service__name::after {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

.service__item.active .service__detail {
  display: block;
}

.service__name {
  font-size: 24px;
  line-height: calc(35 / 24);
  color: #234cb5;
  padding: 2.12em 0;
  position: relative;
}

.service__name::before, .service__name::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 0;
}

.service__name::before {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.service__name::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.service__detail {
  padding-bottom: 60px;
  display: none;
}

.service__to-plans {
  margin-top: -97px;
}

.flow {
  padding: 105px 0 137px 0;
}

.flow__title {
  margin-bottom: 129px;
}

.flow__item {
  color: #333333;
  background-color: #fff;
  width: 1000px;
  height: 186px;
  padding: 30px 34px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.flow__item:not(:last-of-type) {
  margin-bottom: 127px;
}

.flow__item:not(:last-of-type)::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 41px 23.5px 0 23.5px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  bottom: -84px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.flow__name {
  font-size: 30px;
  font-weight: bold;
  width: 426px;
  border-right: 2px solid #234cb5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__name-number {
  width: 84px;
  height: 84px;
  background: #f3f3f3;
  border-radius: 50%;
  margin-right: 28px;
  -webkit-filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__detail-area {
  width: calc(100% - 426px);
  padding-left: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__detail {
  width: 100%;
  padding-left: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flow__detail-item {
  font-size: 20px;
  line-height: 1.2;
  list-style: decimal;
  width: 100%;
  padding-left: 0.5em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
/*# sourceMappingURL=style.css.map */