.header {
    font-size: 18px;
    width: 100%;
    height: $header-height;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        background-color: #e8e8e8;
        width: 120px;
        height: 100%;
        cursor: pointer;
        > a {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }
    &__nav {
        height: 100%;
    }
    &__nav-ul {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: end;
        align-items: center;
        column-gap: 25px;
    }
    &__nav-item {
        > a {
            width: 100%;
            height: 100%;
            @include flex-center;
        }
        &--enquiry {
            color: #fff;
            background-color: $primary-color;
            width: 204px;
            height: 100%;
            cursor: pointer;
            @include flex-center;
            &:hover {
                background-color: #052882;
                transition: 0.3s;
            }
        }
    }
}
.fixed-link {
    position: fixed;
    top: calc-percent(351, 700);
    right: calc-percent(25, 1440);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    display: grid;
    grid-template: repeat(2, auto) / auto;
    row-gap: 8px;
    z-index: 5;
    &__item {
        width: 41px;
        height: 41px;
        & * {
            width: 100%;
            height: 100%;
        }
    }
}
